.collapsible-example{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 32px;
}

.example-nr{
    position: absolute;
    right: calc(100% + 16px);
    top: 0;

    background-color: var(--card-bg);
    box-shadow: var(--card-glow);
    border: 1px solid var(--card-stroke);
    font-size: 24px;
    
    color: var(--text);
    height: 32px;
    width: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

@media only screen and (max-width: 700px){
    .example-nr{
        right: 0;
        border-radius: 0px 8px 0px 0px;
    }

}