.hero-banner {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 128px;

    background: radial-gradient(ellipse 25% 70% at 50% 100%,
            rgba(137, 32, 252, 1) 0%,
            rgba(137, 32, 252, 0.5) 40%,
            rgba(137, 32, 252, 0) 100%);
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;


    >h1 {
        font-weight: 800;
        font-size: 128px;
    }

    >h2 {
        font-size: 32px;
        font-weight: 800;
    }
}

.hero-label-wrapper {
    position: relative;
    background-color: var(--card-bg);
    border: 1px solid var(--card-stroke);
    min-width: 25%;
    margin: 0px 128px;
    padding: 16px 32px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 800;
    border-radius: 16px;
}

.hero-label-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    height: 35px;
    background-color: red;

    background: radial-gradient(ellipse 50% 70% at 50% 100%,
            rgba(212, 231, 254, 1) 0%,
            rgba(212, 231, 254, 0.3) 20%,
            rgba(137, 32, 252, 0) 100%);
}