.card {
  border: 1px solid var(--card-stroke);
  background-color: var(--card-background);
  box-shadow: var(--card-glow);
  padding: 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;

  > h2 {
    font-size: 32px;
  }
}
.card.highlighted {
  background-color: var(--secondary);
  > h2 {
    font-size: 64px;
  }
}

.card-tags {
  display: flex;
  align-items: center;
  font-weight: 800;
  flex-wrap: wrap;
}
